@import url('https://fonts.googleapis.com/css?family=K2D:400,700&display=swap');
body {
    font-family: 'K2D', sans-serif !important;
}

.display-block {
    display: block!important;
}

.logo_web {
    max-width: 2em;
}

/* div#kt_header {
    background-color: #086591;
} */